<div>
    <br>
    <br>
<div class="col-sm-5 webcam">
  <app-webcam *ngIf="isWebcamON" 
  (snapshot)="setImage($event)" 
  (snaptext)="getTextImage($event)">
</app-webcam>
  <div>
      <div class = "imageHeaderBox">
      <h2 class="cardHeader"for="image"><i class="fa fa-address-card">
      </i>&#160;&#160;MY | CARD | IMAGE </h2>
      <button class="webcamBtn" (click)="openWebcam()">Start Webcam</button>
      <button class="stopwebcamBtn" (click)="openWebcam()">Stop Webcam</button>
</div>
</div>
</div>



  
