.logout-btn{
    background-color: black;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 19px; 
    position: absolute;
    padding: 9px 20px;
    transition: .5s ease;
    top: 3%;
    left: 70%;  
}


