
<span>
      <button class="camera-btn" (click)="takeSnapShot()">
          Click To Snap
          <i class="fa fa-camera fa-3x" aria-hidden="true"></i></button>
      </span>

<div class = "myImage">
<webcam [height]="290" 
[trigger]="observeSnapShot"
(imageCapture)="getMyImage($event)" 
(initError)="getImageError($event)">
</webcam>
</div>

<div id="snapshot" class="snapshot mt-5" *ngIf="myWebcamPic"> 
    <span>
        <button class="okBtn" (click)=" detectTextImage()">Add Card&#160;<i class="fa fa-check-circle"></i></button>
        <button class="retakeBtn" (click)="retakePhoto()">Retake&#160;&#160;<i class="fa fa-camera"></i></button>
    </span>
        <div class = "myImage"> <img id="image" [src]="myWebcamPic.imageAsDataUrl"/></div>
        
</div>




